@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

body {
  background-color: #e5e5e5;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.title-header {
  font-size: 6em;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px rgb(0, 0, 0, 0.52);
  margin-top: 60px;
  margin-bottom: 20px;
}

.title-header span {
  color: white;
}

/* .todo-wrapper {
  justify-content: center;
  width: 100vw;
  border: 2px solid black;
} */

.container-inputTodo {
  text-align: center;
}

.container-inputTodo > input {
  width: 550px;
  height: 31px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  margin-right: 10px;
  font-size: 14px;
}

.container-inputTodo > button {
  background-color: #2b2b2b;
  width: 52px;
  height: 41.6px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-inputTodo > form > button:hover {
  background-color: #3f3f3f;
}

.container-todoList {
  width: 700px;
  height: auto;
  background-color: #c7c7c7;
  border-radius: 8px;
  margin-top: 27px;
  gap: 26px;
  padding: 20px;
}

.card-todoList {
  width: 653px;
  height: 83px;
  background-color: #ffffff;
  justify-content: space-between;
  border: none;
  border-radius: 8px;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.card-todoList p {
  margin-left: 30px;
  font-size: 17px;
}

.btn-todo {
  display: flex;
  gap: 0.5rem;
  margin-right: 30px;
}

.btn-todo button {
  width: 41px;
  height: 41px;
  box-sizing: none;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.btn-todo button:hover {
  transform: none;
  opacity: 0.6;
}

.btn-completed {
  background-color: #7D9FD9;
}

.btn-delete {
  background-color: #D97D7D;
}

